html,
body {
  height: 100%;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

ul::-webkit-scrollbar { width: 0 !important }


.header {
  background-color:darkorange;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
}

.logo {
  width: 50px;
  /* background-color: red; */
}

.search {
  width: 500px;
  /* background-color: red; */
  border: 1px solid gray;
}

.add-record {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.add-record__button {
  height: 25px;
}

.main {
  margin-top: 75px;
}

.side-bar {
  /* background-color: aqua; */
  position: fixed;
}

.record {
  /* background-color: chocolate; */
  margin-right: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 700px;
  display: flex;
  flex-direction: column;
}

.headline {
  font-size: 25px;
}

.description {
  font-size: 20px;
  line-height: 1.5;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.categories {
  height: 700px;
  overflow-y: scroll;
  list-style-type: none;
}

.add-category__button {
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  height: 45px;
  background: none;
  border: none;
}

.category {
  font-size: 20px;
  background-color: chartreuse;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin-right: 20px;
    margin-bottom: 10px;
}

button:active, button:focus {
  outline: none;
}

button {
  background: none;
  border: none;
}

.content {
  margin-left: 400px;
}

.record-date {
  padding: 20px;
  display: block;
  margin-left: 500px;
}

.record-count {
  font-size: 25px;
  margin-left:30px;
  margin-right: 5px;
}

.header__logo {
  margin-left: 100px;
}

.header__item {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header__item-count {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header__search {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 250px;
  margin-right: 500px;
}

.categories-block {
  display: flex;
}

.edit__record {
  align-self: flex-end;
}

.fa-trash-alt {
  margin-right: 15px;
}

.add-record__text {
  font-size: 20px; 
  padding-left: 20px;
}

.add-record__button {
  margin-top: 10px;
}

.add-category__input {
  width: 200px;
  height: 20px;
  font-size: 20px;
  padding: 10px;
}

.add-color__input {
  height: 30px;
  margin-left: 10px;
}

.category-wrapper {
  display: flex;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}